---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import DarkThemeIcon from "../icons/DarkThemeIcon.astro";
import LanguagePicker from "./LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="top-0 z-10 flex w-full items-center justify-center py-5 mx-auto mt-2"
>
  <nav
    class="flex text-sm font-medium rounded-full gap-x-10 text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    <p class="group relative">
      <a href=`#experience`>{t("nav.experience")}</a>
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-indigo-600 group-hover:w-full"
      ></span>
    </p>
    <p class="group relative">
      <a href=`#projects`>{t("nav.projects")}</a>
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-indigo-600 group-hover:w-full"
      ></span>
    </p>
    <p class="group relative">
      <a href=`#about-me`>{t("nav.aboutMe")}</a>
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-indigo-600 group-hover:w-full"
      ></span>
    </p>
    <p class="group relative">
      <a href=`#contact`>{t("nav.contact")}</a>
      <span
        class="absolute -bottom-1 left-0 w-0 transition-all h-0.5 bg-indigo-600 group-hover:w-full"
      ></span>
    </p>
    <DarkThemeIcon />
    <LanguagePicker />
  </nav>
</header>
