---
import { defaultLang, languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
import SelectComponent from "./SelectComponent.astro";

const currentLanguage = getLangFromUrl(Astro.url);
---

<div class="relative inline-block text-left">
  <div>
    <span
      class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm text-black shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-slate-200 transition ease-in-out duration-300 cursor-pointer"
      id="select"
      aria-expanded="true"
      aria-haspopup="true"
    >
      {languages[currentLanguage]}
      <svg
        class="-mr-1 size-5 text-gray-400"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        data-slot="icon"
      >
        <path
          fill-rule="evenodd"
          d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"></path>
      </svg>
    </span>
  </div>

  <div
    class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none transition-all duration-300 ease-in-out transform scale-95 opacity-0"
    id="option-list"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1" role="none">
      {
        Object.entries(languages).map(([lang, label]) => (
          <SelectComponent href={`${lang === defaultLang ? "/" : lang}`}>
            {label}
          </SelectComponent>
        ))
      }
    </div>
  </div>
</div>

<script>
  const select = document.querySelector("#select");
  const optionList = document.querySelector("#option-list");

  select?.addEventListener("click", () => {
    optionList?.classList.toggle("active");
    if (optionList?.classList.contains("active")) {
      optionList?.classList.remove("scale-95", "opacity-0");
      optionList?.classList.add("scale-100", "opacity-100");
    } else {
      optionList?.classList.remove("scale-100", "opacity-100");
      optionList?.classList.add("scale-95", "opacity-0");
    }
  });
</script>