---
interface Props {
  href: string;
  id: string;
}

const { href, id } = Astro.props;
---

<a
  id={id}
  class="hidden px-4 py-2 text-sm  text-gray-700 hover:bg-slate-300/50  
  transiton-all ease-in-out duration-300"
  href={href}
>
  <slot />
</a>