---
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import SocialPill from "./SocialPill.astro";
---

<nav class="flex gap-x-2 pt-4">
  <SocialPill href="https://github.com/MR211604">
    <GithubIcon class="size-6" />
    Github
  </SocialPill>
  <SocialPill href="/">
    <LinkedinIcon class="size-6" />
    Linkedin
  </SocialPill>
</nav>
